/* global */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #003366;
  --color-secondary: black;
  --color-accent: #c71585;
  --color-background: white;
  --color-section: whitesmoke;
  --color-navbar-active: #80bfff;
  --color-navbar-inactive: #e6f1f9d9;
  --color-navbar-background: #80bfff;
  --navbar-shadow: 0px -5px 10px 0px;
}

:root.dark {
  --color-primary: #d2dfeb;
  --color-secondary: #9fb6cd;
  --color-background: #202020;
  --color-section: #404040;
  --color-navbar-active: #4f4c4c;
  --color-navbar-inactive: #807d7d;
  --color-navbar-background: #4f4c4c;
  --navbar-shadow: 0px -5px 10px 0px black;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: "Lucida Sans", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: 5px;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}

h1 {
  border: 5px solid var(--color-primary);
  border-radius: 5px;
  width: fit-content;
  padding: 15px 10px 10px 10px;
}

h2 {
  padding: 10px 0;
  color: var(--color-primary);
  text-align: center;
}

h3 {
  text-align: center;
  margin: 5px 0;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-section);
  color: var(--color-secondary);
  margin: 5px;
  border-radius: 5px;
  width: 500px;
  max-width: 95%;
  border: 1px solid var(--color-secondary);
}
