/* global */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #003366;
  --color-secondary: black;
  --color-accent: #c71585;
  --color-background: white;
  --color-section: whitesmoke;
  --color-navbar-active: #80bfff;
  --color-navbar-inactive: #e6f1f9d9;
  --color-navbar-background: #80bfff;
  --navbar-shadow: 0px -5px 10px 0px;
  --header-shadow: 0px 5px 10px 0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #90a5b9;
    --color-secondary: #b5a9d5;
    --color-background: #202020;
    --color-section: #404040;
    --color-navbar-active: #4f4c4c;
    --color-navbar-inactive: #807d7d;
    --color-navbar-background: #4f4c4c;
    --navbar-shadow: 0px -5px 10px 0px black;
    --header-shadow: 0px 5px 10px 0px black;
  }
}

@media (min-width: 700px) {
  html {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body {
    width: 700px;
    align-self: center;
  }
}

/* for dark/light mode switch
:root.dark {
  --color-primary: #d2dfeb;
  --color-secondary: #9fb6cd;
  --color-background: #202020;
  --color-section: #404040;
  --color-navbar-active: #4f4c4c;
  --color-navbar-inactive: #807d7d;
  --color-navbar-background: #4f4c4c;
  --navbar-shadow: 0px -5px 10px 0px black;
}*/

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: Alata, Calibri, sans-serif;
  font-size: 1.2em;
}

header {
  width: 100%;
  max-width: 700px;
  padding: 5px;
}

h1 {
  height: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
  background-color: var(--color-navbar-background);
  box-shadow: var(--header-shadow);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

h2 {
  padding-top: 0.5rem;
  color: var(--color-primary);
  text-align: center;
}

h3 {
  text-align: center;
  margin: 0.25em 0;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-section);
  color: var(--color-secondary);
  margin: 0.2em 0;
  border-radius: 5px;
  width: 90%;
  max-width: 400px;
  height: fit-content;
  box-shadow: 5px 5px 10px 1px black;
}

textarea,
input {
  width: 100%;
  font-size: 1rem;
  font-family: "Alata";
  background-color: var(--color-navbar-inactive);
  border-radius: 5px;
}

textarea:focus,
input:focus {
  outline: 2px solid var(--color-accent);
}

textarea {
  resize: none;
  height: 4rem;
}

input {
  height: 1.7rem;
  margin: 0;
}

label {
  margin-top: 0.6rem;
  margin-bottom: 0.1rem;
}
