/* global */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #003366;
  --color-secondary: black;
  --color-accent: #c71585;
  --color-background: white;
  --color-section: whitesmoke;
  --color-navbar-active: #80bfff;
  --color-navbar-inactive: #e6f1f9d9;
  --color-navbar-background: #80bfff;
  --navbar-shadow: 0px -5px 10px 0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #d2dfeb;
    --color-secondary: #9fb6cd;
    --color-background: #202020;
    --color-section: #404040;
    --color-navbar-active: #4f4c4c;
    --color-navbar-inactive: #807d7d;
    --color-navbar-background: #4f4c4c;
    --navbar-shadow: 0px -5px 10px 0px black;
  }
}

@media (min-width: 700px) {
  html {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body {
    width: 700px;
    align-self: center;
  }
  .navbar {
    width: fit-content;
  }
}

:root.dark {
  --color-primary: #d2dfeb;
  --color-secondary: #9fb6cd;
  --color-background: #202020;
  --color-section: #404040;
  --color-navbar-active: #4f4c4c;
  --color-navbar-inactive: #807d7d;
  --color-navbar-background: #4f4c4c;
  --navbar-shadow: 0px -5px 10px 0px black;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: "Lucida Sans", sans-serif;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: 0.25em;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

h1 {
  border: 0.1em solid var(--color-primary);
  border-radius: 5px;
  padding: 0.8rem;
}

h2 {
  padding: 0.5em 0;
  color: var(--color-primary);
  text-align: center;
}

h3 {
  text-align: center;
  margin: 0.25em 0;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-section);
  color: var(--color-secondary);
  margin: 0.2em 0;
  border-radius: 5px;
  width: 90%;
  max-width: 700px;
  height: fit-content;
  border: 1px solid var(--color-secondary);
  box-shadow: 5px 5px 10px 1px black;
}
