@import "./global.css";
@import "./components/question-card.css";
@import "./components/bookmark.css";
@import "./components/profile.css";
@import "./components/slider.css";
@import "./components/navbar.css";
@import "./components/index.css";
@import "./components/addnew.css";

/* alata-regular - latin */
@font-face {
  font-family: "Alata";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../assets/alata-v9-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/alata-v9-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.page {
  display: none;
  padding: 3rem;
}

.page.current {
  display: block;
}
