* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #003366;
  --color-secondary: black;
  --color-background: white;
  --color-section: whitesmoke;
  --color-navbar: #80bfff;
  --shadow: 5px 5px 5px 2px grey;
  --navbar-shadow: 0px -5px 10px 0px;
  --navbar-border: "";
}

:root.dark {
  --color-primary: #b9d3ee;
  --color-secondary: #9fb6cd;
  --color-background: #2f4f4f;
  --color-section: #0d0d0d;
  --color-navbar: "";
  --shadow: "";
  --navbar-shadow: "";
  --navbar-border: 2px solid whitesmoke;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: "Lucida Sans", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: 5px;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  border: 5px solid var(--color-primary);
  border-radius: 5px;
  width: fit-content;
  padding: 15px 10px 10px 10px;
}

h2 {
  padding: 10px 0;
  color: var(--color-primary);
  text-align: center;
}

h3 {
  text-align: center;
  margin: 5px 0;
}

section {
  position: relative;
  background-color: var(--color-section);
  color: var(--color-secondary);
  margin: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 500px;
  max-width: 95%;
  box-shadow: var(--shadow);
}

.bookmarkSymbol {
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  color: var(--color-primary);
  background-color: var(--color-section);
}

.bookmarkSymbol:checked {
  color: none;
}

.bookmarkSymbol:hover {
  border: 1px solid grey;
  border-radius: 5px;
}

.bookmarksvg {
  width: 30px;
  color: #003366;
}

.categorySec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 300px;
  gap: 3px;
  box-shadow: none;
}

.categoryTag {
  border: 2px solid grey;
  border-radius: 5px;
  width: fit-content;
  padding: 2px 5px;
  color: grey;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

/*  for multiple choice question box
ul {
  margin: 10px;
  list-style: none;
}

ul > li {
  margin: 5px;
}
*/

.showAnswers {
  margin: 10px;
  padding: 2px 5px;
  border-radius: 5px;
  border: 2px solid grey;
  font-weight: 500;
  width: fit-content;
  align-self: center;
}

.answer {
  padding: 10px;
  font-style: italic;
}

img {
  margin: 10px 0;
  width: 90%;
  align-self: center;
}

.about-me-text {
  text-align: center;
  font-size: 18px;
  margin: 10px;
}

.settings {
  display: flex;
  align-items: center;
}

.settings > p {
  padding: 10px 0px;
}

/* The switch - the box around the slider */
.switch {
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.endSection {
  height: 40px;
  background-color: var(--color-background);
  box-shadow: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  height: fit-content;
  width: 500px;
  /*padding: 5px;
  /*margin-bottom: 5px;*/
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  background-color: var(--color-section);
  box-shadow: var(--navbar-shadow);
  border-top: var(--navbar-border);
}

nav > a > svg {
  color: var(--color-primary);
  background-color: var(--color-section);
  width: 50px;
  height: 50px;
}

nav > a > svg:hover {
  border: 2px solid grey;
}

.navbarActive {
  background-color: var(--color-navbar);
}
