* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: #003366;
  font-family: "Lucida Sans", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: 5px;
  display: flex;
  justify-content: center;
}

h1 {
  border: 3px solid grey;
  border-radius: 4px;
  width: fit-content;
  padding: 10px;
}

h2 {
  padding-top: 5px;
  padding-left: 5px;
  color: #003366;
  text-align: center;
}

section {
  position: relative;
  background-color: whitesmoke;
  color: black;
  margin: 10px;
  width: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.bookmarkSymbol {
  background-color: red;
  border: 1px solid black;
  width: 10px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: -7px;
}

.categorySec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 300px;
  gap: 3px;
}

.categoryTag {
  border: 2px solid grey;
  border-radius: 5px;
  width: fit-content;
  padding: 2px 5px;
  color: grey;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

legend {
  margin: 10px;
  text-align: center;
}

ul {
  margin: 10px;
  list-style: none;
}

ul > li {
  margin: 5px;
}

.showAnswers {
  margin: 10px;
  padding: 2px 5px;
  border-radius: 5px;
  border: 2px solid grey;
  font-weight: 500;
  width: fit-content;
  align-self: center;
}

img {
  margin: 10px 0;
  width: 90%;
  align-self: center;
}

.about-me {
  text-align: center;
  text-decoration: underline 2px solid black;
  margin: 5px 0;
}

.about-me-text {
  text-align: center;
  font-size: 18px;
  margin: 10px;
}

.settings > p {
  padding: 5px;
}

.endSection {
  height: 40px;
  background-color: white;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: whitesmoke;
  width: 100%;
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  /*border: 2px solid black;*/
  padding: 5px;
}

nav > a {
  /*border: 2px solid black;*/
  padding: 5px;
  text-decoration: none;
  color: #003366;
  background-color: #e0e0e0;
  border-radius: 2px;
}

nav > a:hover {
  border: 2px solid grey;
}

.navbarActive {
  background-color: #80bfff;
}
