* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #003366;
  --color-secondary: black;
  --color-background: white;
  --color-section: whitesmoke;
  --color-navbar: #80bfff;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: "Lucida Sans", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: 5px;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  border: 5px solid var(--color-primary);
  border-radius: 4px;
  width: fit-content;
  padding: 15px 10px 10px 10px;
}

h2 {
  padding: 10px 0;
  color: var(--color-primary);
  text-align: center;
}

h3 {
  text-align: center;
  margin: 5px 0;
}

section {
  position: relative;
  background-color: var(--color-section);
  color: var(--color-secondary);
  margin: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 95%;
  box-shadow: 5px 5px 5px 2px grey;
}

.bookmarkSymbol {
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  color: var(--color-primary);
  background-color: var(--color-section);
}

.bookmarkSymbol:hover {
  border: 1px solid grey;
  border-radius: 5px;
}

.bookmarksvg {
  width: 30px;
}

.categorySec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 300px;
  gap: 3px;
  box-shadow: none;
}

.categoryTag {
  border: 2px solid grey;
  border-radius: 5px;
  width: fit-content;
  padding: 2px 5px;
  color: grey;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

legend {
  margin: 10px;
  text-align: center;
}

/*  for multiple choice question box
ul {
  margin: 10px;
  list-style: none;
}

ul > li {
  margin: 5px;
}
*/

.showAnswers {
  margin: 10px;
  padding: 2px 5px;
  border-radius: 5px;
  border: 2px solid grey;
  font-weight: 500;
  width: fit-content;
  align-self: center;
}

img {
  margin: 10px 0;
  width: 90%;
  align-self: center;
}

.about-me-text {
  text-align: center;
  font-size: 18px;
  margin: 10px;
}

.settings {
  display: flex;
  align-items: center;
}

.settings > p {
  padding-top: 10px;
}

.endSection {
  height: 40px;
  background-color: var(--color-background);
  box-shadow: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  height: 58px;
  width: 500px;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

nav > a > svg {
  color: var(--color-primary);
  background-color: var(--color-section);
  width: 48px;
  height: 48px;
}

nav > a > svg:hover {
  border: 2px solid grey;
}

.navbarActive {
  background-color: var(--color-navbar);
}
