/* create new question card */

.new-card__form > p {
  text-align: right;
}

.new-card__category-area {
  display: grid;
  grid-template-columns: 90% 10%;
}

.form-button-area {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 0.8rem;
  margin-bottom: 0.25rem;
  width: 100%;
}

.form-button {
  width: 100%;
  height: 1.5rem;
  font-size: 1rem;
}

.create-account-email {
  display: none;
}

.reset-notify {
  display: none;
}
