/* create new question card */

.new-card__form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.new-card__form p {
  margin-bottom: 1rem;
}

.newCard__display textarea,
input {
  width: 100%;
  font-size: 1rem;
  font-family: "Alata";
}

.newCard__display textarea {
  resize: none;
  height: 4rem;
}

.newCard__display input {
  height: 1.5rem;
  margin: 0;
}
