/* Bookmark icon on question card */

.bookmark {
  position: absolute;
  right: 7px;
  top: 7px;
  border: none;
  background-color: transparent;
}

.bookmark:hover {
  border: 2px solid transparent;
}

.bookmark__svg {
  width: 30px;
  color: var(--color-accent);
}

.bookmark__svg.hidden {
  display: none;
}
