/* landing page */

header {
  position: relative;
  z-index: 100;
}

.login-section {
  position: fixed;
  top: 70px;
  transition: top 1s;
  z-index: 50;
}

.create-account-section {
  position: fixed;
  top: -500px;
  transition: top 1s;
  z-index: 50;
}
