/* Footer with navigation bar */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 700px;
  height: 60px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-navbar-background);
  box-shadow: var(--navbar-shadow);
}

.navbar > a {
  border: 2px solid var(--color-navbar-background);
  color: var(--color-primary);
  background-color: var(--color-navbar-inactive);
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar > a > svg {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.navbar > a > svg:hover {
  border: 2px solid transparent;
}
/* change this */
.navbar > .active-page {
  background-color: var(--color-navbar-active);
  border: none;
}
