/* Question Cards */

.question-card__main {
}

.question-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-section);
  color: var(--color-secondary);
  margin: 0.4em 0;
  border-radius: 5px;
  width: 90%;
  max-width: 400px;
  border: 1px solid var(--color-secondary);
  height: fit-content;
  box-shadow: 5px 5px 10px 1px black;
}

.question-card__header {
  display: flex;
  justify-content: space-between;
  padding: 0 0.7rem;
  width: 100%;
}

.question-card__number {
  align-self: flex-start;
  margin-left: 1rem;
}

.question-card__categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  gap: 3px;
  list-style: none;
}

.question-card__categories-tags {
  border: 2px solid grey;
  border-radius: 5px;
  width: fit-content;
  padding: 2px 5px;
  color: grey;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

.question-card__button-show-answer {
  margin: 0.7rem;
  padding: 0.25rem;
  border-radius: 5px;
  border: 2px solid var(--color-background);
  color: var(--color-section);
  background-color: var(--color-secondary);
  font-weight: 500;
  align-self: center;
}

.question-card__answer {
  padding: 0.7rem;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
}
