/* Dark/Light Mode Switch */

/* The switch - the box around the slider */

.settings__switch {
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
  width: 70px;
  height: 28px;
}

/* Hide default HTML checkbox */
.settings__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.settings__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 30px;
}

.settings__slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: var(--color-background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .settings__slider {
  background-color: var(--color-accent);
}

input:focus + .settings__slider {
  box-shadow: 0 0 1px var(--color-accent);
}

input:checked + .settings__slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}
